@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Product>
<div class="d-inline-flex m-0 p-0 bg-white w-100 justify-content-b ">
    <div class="container border categorys ">
        <div class="text-center category-title ">
            <span class="navbar-brand ">Категории</span>
        </div>
        <div class="category">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a href="">Процессоры</a>
        </div>
        <div class="category">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a>Видеокарты</a>
        </div>
        <div class="category">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a>Материнские платы</a>
        </div>
        <div class="category ">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a>Оперативная память</a>
        </div>
    </div>

    <div class="container-fluid content-block flex-wrap col-4">
        @foreach (Product product in Model)
        {
            @await Html.PartialAsync("Product", product);
        }
    </div>
</div>