@{
    ViewData["Title"] = "Home Page";
}

<div class="d-inline-flex m-0 p-0 bg-white ">
    <div class="categorys border">
        <div class="text-center m-0 p-0">
            <span class="navbar-brand category-title ">Категории</span>
        </div>
        <div class="category">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a href="">Процессоры</a>
        </div>
        <div class="category">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a>Видеокарты</a>
        </div>
        <div class="category">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a>Материнские платы</a>
        </div>
        <div class="category">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a>Оперативная память</a>
        </div>
    </div>

    <div class="content-block">

    </div>
</div>