@{
    ViewData["Title"] = "Home Page";
}
@model List<ProductViewModel>
<div class="bg-white col row d-flex flex-wrap">
    <div class="container border categorys col ">
        <div class="text-center category-title ">
            <span class="navbar-brand ">Категории</span>
        </div>
        <div class="category">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a>Процессоры</a>
        </div>
        <div class="category">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a>Видеокарты</a>
        </div>
        <div class="category">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a>Материнские платы</a>
        </div>
        <div class="category">
            <span><img src="~/images/shopping_cart.png" alt="" /></span>
            <a  asp-controller="Home" asp-action="Privacy">Оперативная память</a>
        </div>
    </div>
    <div class="container col d-flex flex-wrap justify-content-center">
        @foreach (ProductViewModel product in Model)
        {
            @await Html.PartialAsync("Product", product);
        }
    </div>
</div>