@model Product 
<div class="container border">
    <span class="card-title">@Model.Name</span>
    <div>
        <img src=@Model.ImgUrl alt=@Model.Name + "_image" />
    </div>
    <span>Цена: @Model.Price</span>
</div>