@model ProductViewModel
<div class="container border product">
    <div class="row">
        <div class="col">
            <img src=@Model.ImgUrl alt=@Model.Name + "_image" />
        </div>
        <span class="card-title "> @Model.TypeName @Model.Name</span>
        <span>Цена: @Model.Price</span>
    </div>
</div>
